<!DOCTYPE html>
<html>
<head>
    <title>Tasky</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        input { margin: 5px; margin-bottom: 5px; width: 300px;}
        ul {list-style: none;}
        .error {color: red}
        h5 {margin-top: 60px; margin-bottom: 20px;}
        form {width: 30%; text-align: center}
        body{text-align: center}
    </style>

</head>

<body class="justify-content-center">

<h5>Tasky Login</h5>
{{if .Errors}}

<ul>

    {{range $key, $value := .Errors }}
    <li class="error"> {{$key}} : {{$value}} </li>
    {{end}}
</ul>
{{end}}

<form action="/login" method="post" class="col-lg-4 offset-lg-4">
    <div class="form-group">
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" value="{{.User.Email}}" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password"/>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

</body>

</html>